.lightbox {

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, .8);
    display:none;

}

.input-group {
    z-index: 0;
}

.lightbox_table {

    width:100%;
    height:100%;

}



.lightbox_table_cell {

    vertical-align:middle;

}
